// ミックスインを記述します。
// 以下mixinのサンプル


//==========================================
// サンプル１
//==========================================

//------------------------
// 以下scss
//------------------------

// @mixin sample { ←これでmixinを作る（mixin.scssファイルに記述する）
//  margin: 100px;
//  padding: 100px;
// }


// .header {
//   @include sample; ←これで上記のmixinを呼び出す（_block、_element、_modifierとかに記述する）
// }

//------------------------
// 以下cssにコンパイル後
//------------------------

// .header {
//  margin: 100px;
//  padding: 100px;
// }




//==========================================
// サンプル２
//==========================================
// 複数のmixinを呼び出した時

//------------------------
// 以下scss
//------------------------

// @mixin sample-1 { 
//  margin: 100px;
// }

// @mixin sample-2 { 
//  padding: 100px;
// }


// .header {
//   @include sample-1;
//   @include sample-2;
// }
// .footer {
//   @include sample-1;
// }

//------------------------
// 以下cssにコンパイル後
//------------------------

// .header {
//  margin: 100px;
//  padding: 100px;
// }
// .footer {
//  margin: 100px;
// }

// ※1 sampleの文字の所には好きな名前を付けます
// ※2 @media内で使用する事ができる
// ※3 vscodeで ctrl(cmd) + space で候補として呼び出せる(時もある。仕様がよくわからない。)
// ※4 @includeで呼び出したmixinは複数でも一つクラス内に記述されるので、placeholderと異なり、cssで記述される時にカンマ区切りでまとめられない