// プレースホルダーを記述します。
// 以下プレースホルダーのサンプル


//==========================================
// サンプル１
//==========================================

//------------------------
// 以下scss
//------------------------

// %sample { ←これでプレースホルダーを作る（placeholder.scssファイルに記述する）
//   padding: 100px;
// }

// .wrapper {
//   @extend %sample; ←上記のプレースホルダーを呼び出す（_block、_element、_modifierとかに記述する）
// }


//------------------------
// 以下cssにコンパイル後
//------------------------

// .wrapper {
//   padding: 100px;
// }




//==========================================
// サンプル２
//==========================================

//------------------------
// 以下scss
//------------------------

// %sample { 
//   padding: 100px;
// }

// .wrapper {
//   background-color: #fff;
// }

// .header {
//   @extend %sample; 
//   @extend .wrapper; ←他のクラスを呼び出して同じプロパティを適用させる（_block、_element、_modifierとかに記述する）
// }


//------------------------
// 以下cssにコンパイル後
//------------------------

// .wrapper, ←@extendで呼び出された他のクラスとカンマ区切りで記述されるのでmixinより短くなる
// .header {
//   background-color: #fff;
// }


// .header {
//   padding: 100px;
// }




// ※1 sampleの文字の所には好きな名前を付けます
// ※2 placeholderは@media内で使用する事ができない
// ※3 vscodeで ctrl(cmd) + space で候補として呼び出せない
// ※4 @extend で呼び出したプレースホルダーやクラスはカンマ区切りで一つにまとめられるので、cssのコードが短くなる